# Ignore Git Related
.git
.gitignore

# Ignore Docker Related
.dockerignore
# Dockerfile

# Ignore MacOS Related
.DS_Store

# Ignore JetBrains Related
.idea

# Ignore Build Related
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
